@use 'abstract/variable'as v;
@use 'abstract/mixin'as m;

.button {
    &__primary {
        @include m.button(v.$primary, v.$secondary);


    }

    &__plane {

        @include m.button(v.$primary, v.$secondary);
        border: 2px solid v.$white;
        margin-top: 2rem;
        display: block;

    }
}