@use 'abstract/variable'as v;
@use 'abstract/mixin'as m;

.header {

    @include m.bgImage('../img/header.jpg', v.$secondary-opacity);
    padding: 5rem 0;

    &__wrapper {

        padding-bottom: 10rem 0;

        @include m.screen('desktop') {

            padding-bottom: 15rem 0;
        }
    }

    &__logo {
        max-width: 20rem;
        margin: 0 auto;

        @include m.screen('table') {
            margin: 0;
        }
    }

    &__title {
        color: v.$white;
        font-size: 4.5rem;

        @include m.screen('table') {
            font-size: 6rem;
            max-width: 50%;
        }

        @include m.screen('desktop') {
            max-width: 40%;
        }

    }



}