@use 'abstract/variable'as v;
@use 'abstract/mixin'as m;

.header {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;

    @include m.screen('desktop') {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 30rem;
    }


}