@use 'abstract/mixin'as m;
@use 'abstract/variable'as v;

.testimonials {
    @include m.screen('table') {
        @include m.grid(5, 4rem);
        align-items: center;
    }

    &__image {
        grid-column: 1 / 3;
    }

    &__content {
        grid-column: 3 / 6;
    }

    &__title {
        @include m.headingBorder(v.$secondary, v.$primary);
    }

}