//
// / variable 
//


// font variable

$font-primary: 'Roboto',
serif;


// media queries
//  smartphones
$screen-smartphones: 480px;

//  tablets 
$screen-table: 768px;

// desktops
$screen-desktop: 1024px;
// Color 
$primary: #84d9bc;
$secondary: #313c4e;
$secondary-opacity: rgb( 57 70 89 / .7 );
$black: #000000;
$white: #ffffff;
$light-grey:#eceeef;
